*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-ciano: #66FCF1;
}
html{
    font-size: 62.5%;
}
body{
    /*font-size: 1.6rem;*/
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

/*----------HEADER-INICIO---------*/
.nav{
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.voltar{
    color: var(--color-ciano);
    text-decoration: none;
    font-size: 1.7em;
    display: inline-block;
    margin-right: 1rem;
}
.voltar:hover{
    color: white;
    border-bottom: 1px solid #66FCF1;
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
}
.list-nav{
    display: flex;
    justify-content: center;
    list-style: none;
    flex: 1;
    gap: 2rem;
}
.list-nav a{
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--color-ciano);
    display: inline-block;
}
.list-nav a:hover{
    color: white;
    border-bottom: 1px solid #66FCF1;
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
}
/*----------HEADER-FIM---------*/

/*----------MAIN-INICIO------*/
.main{
    margin-top: 10rem;
}
.main h1{
    font-size: 4.8em;
    color: var(--color-ciano);
    text-align: center;
    margin: 5rem 0 2rem;
}
.main > p{
    font-size: 1.9em;
    text-align: center;
    color: #c5c6c7;
    margin-bottom: 6rem;
}
.content{
    background-color: #2A424B;
    width: 70%;
    padding: 2rem;
    margin: 0 auto 6rem;
    border-radius: 1rem;
}
.content h2{
    font-size: 3.2em;
    color: #45a29e;
    border-bottom: 2px solid var(--color-ciano);
    width: fit-content;
}
.content p{
    font-size: 1.6em;
    color: white;
    margin-top: 2rem;
}
.habilidade ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    margin-top: 2rem;
}
.habilidade img{
    border-radius: 50%;
    width: 8rem;
}
.projetos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.projetos article{
    display: flex;
    gap: 3rem;
    background-color: #162a31;
    padding: 1rem;
    box-shadow: 0 2px 8px black;
    border-radius: 1rem;
    margin: 0;
    width: 100%;
}
.projetos article:hover{
    transform: translateY(-5px);
    transition: all ease-in-out 0.2s;
}
.projetos img{
    width: 20rem;
    border-radius: 2rem;
}
.projetos h3{
    font-size: 1.8em;
    color: var(--color-ciano);
}
fieldset{
    border: none;
}
.form{
    width: 70%;
    margin: 0 auto;
    background-color: #2A424B;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 6rem;
}
.form legend{
    font-size: 3.2rem;
    color: #45a29e;
    font-weight: bolder;
    border-bottom: 2px solid var(--color-ciano);
    margin-bottom: 1rem;
}
.form label{
    font-size: 1.8rem;
    color: white;
}
.form input,textarea{
    font-size: 1.8rem;
}
.form input[type="submit"]{
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #13262D;
    color: green;
    border: none;
}
.form input[type="submit"]:hover{
    background-color: green;
    color: #13262D;
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

/*----------MAIN-FIM----------*/

/*---------FOOTER-INICIO---------*/
.footer{
    background-color: #0B0C10;
    padding: 2rem;
}
.footer p{
    text-align: center;
    color: #c5c6c7;
    font-size: 1.6em;
}
@media (max-width: 768px) {
    .list-nav{
        gap: 0;
    }
    .list-nav li{
        margin-right: 0.8rem;
    }
    .habilidade ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 1rem;
    }
    .habilidade ul li img {
        width: 10rem;
        height: auto;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .nav{
        display: flex;
        padding-left: 0.8rem;
    }
    .projetos img{
        width: 100%;
    }
}