* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #9dccff;
}

header {
    width: 100%;
}

.nav {
    background-color: #4a90e2;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.voltar {
    margin-left: 2rem;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.nav_list {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    list-style: none;
}

.main h1 {
    text-align: center;
    color: #f3f3f3;
    margin-top: 3rem;
}
.main{
    padding: 2rem;
    margin-top: 4rem;
}
.main>p {
    text-align: center;
    color: white;
    margin-top: 1rem;
}

.content {
    background-color: #d0e4fa;
    width: 50%;
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 1rem;
}
.content h2{
    color: 	#3179d9;
    font-weight: 900;
    margin-bottom: 1rem
}
.content p{
    color: black;
}
fieldset {
    border: none;
}

.form {
    width: 50%;
    margin: 0 auto;
    background-color: #D0E4FA;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 6rem;
}

.form legend {
    font-size: 3.2rem;
    color: #3179d9;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.form label {
    font-size: 1.8rem;
    color: #1452e3;
}

.form input,
textarea {
    font-size: 1.8rem;
}

.form input[type="submit"] {
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #9DCCFF;
    color: green;
    border: none;
}

.form input[type="submit"]:hover {
    background-color: green;
    color: #9DCCFF;
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}
.footer{
    background-color: black;
    padding: 2rem;
    color: white;
    
}
.footer p{
    text-align: center;
}
@media screen and (max-width: 780px){
    .content,.form{
        width: 90%;
    }
}